In [10]:
x=8
type(x)

int

In [11]:
y=3.2
type(y)

float

In [12]:
z=8j+18
type(z)

complex

In [13]:
a="Hello World"
type(a)

str

In [14]:
b=True
type(b)

bool

In [15]:
c=23<22
type(c)

bool

In [16]:
l=[1,2,3,4]
type(l)

list

In [17]:
d={"Name":"Jake",
   "Age":27,
   "Adress":"Downtown"}
type(d)

dict

In [18]:
t= {"Machine Learning", "Data Science"}
type(t)

set

In [19]:
s= {"Python","Machine Learning","Data Science"}
type(s)

set

In [33]:
a=[]
text="The goal is to turn into information, and information into insight."
a=text.upper().replace(","," ").replace("."," ").split(" ")
print(a)

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'INTO', 'INFORMATION', '', 'AND', 'INFORMATION', 'INTO', 'INSIGHT', '']

In [43]:
lst=["D","A","T","A","S","C","I","E","N","C","E"]

for i in range(len(lst)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [91]:
lst=["D","A","T","A","S","C","I","E","N","C","E"]

print(lst[0],lst[10])

D C

In [90]:
x=[]
x=lst[0:4]
print(x)

['D', 'A', 'T', 'A']

In [105]:
lst=["D","A","T","A","S","C","I","E","N","C","E"]
lst.pop(8)
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [106]:
lst.append("X")
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'X']

In [107]:
lst.insert(8,"N")
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'X']

In [316]:
mydict={'Christian':["America",18],
      'Daisy':["England",12],
      'Antonio':["Spain",22],
      'Dante':["Italy",25]}

In [317]:
mydict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [318]:
mydict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [319]:
for i in mydict.keys():
    if i == 'Daisy':
        mydict["Daisy"]=["England",13]

print(mydict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25]}

###

In [320]:
mydict['Ahmet']=["Turkey",24] 
print(mydict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [322]:
for i in mydict.keys():
    if i == 'Antonio':
        del mydict[i]

print(mydict)

{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [24]:
l=[2,13,18,93,22]
group=[[],[]]

def gruplama(x):
    for i in x:
        if i%2==0:
            group[0].append(i)
        else:
            group[1].append(i)
    return group

gruplama(l)

[[2, 18, 22], [13, 93]]

In [101]:
ogrenciler=["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
muh=[]
tip=[]
def grupOgrenci(ogrenci):
    for index,text in enumerate(ogrenci):
        if index < 3:
            muh.append(f"Mühendislik Fakültesi {index+1}. öğrenci: {text}")
        elif index >= 3:
            tip.append(f"Tip Fakültesi {index-2}. öğrenci: {text}")
            
    return muh,tip
    
    
grupOgrenci(ogrenciler)

(['Mühendislik Fakültesi 1. öğrenci: Ali',
  'Mühendislik Fakültesi 2. öğrenci: Veli',
  'Mühendislik Fakültesi 3. öğrenci: Ayşe'],
 ['Tip Fakültesi 1. öğrenci: Talat',
  'Tip Fakültesi 2. öğrenci: Zeynep',
  'Tip Fakültesi 3. öğrenci: Ece'])

In [138]:
kelimeler=["Kredisi","olan","kodlu dersin kontenjanı","kişidir"]
ders_kodu=["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi=[3,4,2,4]
kontenjan=[30,75,150,25]

zipped=zip(kredi,ders_kodu,kontenjan)
zipped_list=list(zipped)

for i in zipped_list:
    print(f"{kelimeler[0]} {i[0]} {kelimeler[1]} {i[1]} {kelimeler[2]} {i[2]} {kelimeler[3]}")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir

In [145]:
kume1=set(["data","python"])
kume2=set(["data","function","qcut","lambda","python","miuul"])

kume1.symmetric_difference(kume2)
kume2-kume1

{'function', 'lambda', 'miuul', 'qcut'}